div.ttable{ display: table; 
        width: 100%; }
div.ttable div.trow{ display: table-row; }
div.ttable div.tcell{ display: table-cell; }

.ttable.cell-padding5 .tcell{ padding: 5px; }
.ttable.cell-border .tcell{ border: 1px solid rgba(0,0,0,0.1); }

.stick-top{
    xposition: static; 
    xposition: sticky; 
    top:90px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index: 50;
}

.stick-top-jobman{
    xposition: static; 
    xposition: sticky; 
    top:160px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index: 50;
}

.stick-left{
    xposition: static; 
    xposition: sticky; 
    left:120px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index: 40;
}


.stick-left-up{
    xposition: static; 
    xposition: sticky; 
    left:120px;
    top: 121px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index: 45;
}


div > .put_var_in_modal{ display:none;  }
xdiv:HOVER > .put_var_in_modal{ display:block; }

.smena1,
.minus,
.plus
{ xline-height: 25px; padding: 0 5px; }

.smena1 .ocenka_text{ display: none; }
.smena1:HOVER .ocenka_text{ display: inline-block; }



/* шестерёнка кнопа показа доп ссылок по дню */
.tcell .option_img{ color: rgba(0,0,0,0.1); text-align: right; cursor: pointer; transition: 3s; }
.tcell:HOVER .option_img{ color: rgba(0,0,0,0.9); }






.job_timer{ display: none; }

.list_otrezki div{
    margin-bottom: 2px;
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
}

.warn{ background-color: yellow; padding: 2px; margin: 0; }

div.smena_cancel,
.list_otrezki div.smena_cancel{
    border-left: 3px solid rgba(0,0,0,0.5);
    xbackground-color: rgba(0,0,0,0.5);
    background: linear-gradient(to left, white, rgba(0,0,0,0.2));
}

div.smena_ok,
.list_otrezki div.smena_ok{
    border-left: 3px solid #999900;
    xbackground-color: rgba(255,255,0,0.5);
    background: linear-gradient(to left, white, greenyellow);
}
div.smena_started,
.list_otrezki div.smena_started{
    border-left: 3px dotted #00cc00;
    xbackground-color: rgba(255,255,0,0.5);
    background: linear-gradient(to left, white, yellow);
}

div.smena_started_error,
.list_otrezki div.smena_started_error{
    border-left: 3px dotted aliceblue;
    xbackground-color: rgba(255,255,0,0.5);
    background: linear-gradient(to right, yellow, gray);
}

div.smena_started_ok,
.list_otrezki div.smena_started_ok{
    border-left: 3px dotted green;
    xbackground-color: rgba(255,255,0,0.5);
    background: linear-gradient(to left, greenyellow, yellow);
}

/*                    <div class="" style="display:inline-block;margin: 2px 5px;">Смена начата сотрудником и ещё не отмечена как законченая</div>
                    <div class="smena_started_error" style="display:inline-block;margin: 2px 5px;">Смена начата сотрудником и отмечена как ошибка</div>
                    <div class="smena_started_ok" style="display:inline-block;margin: 2px 5px;">Смена начата сотрудником и отмечена как законченная</div>*/

.list_otrezki div.pay_check{
    border-left: 3px solid #66ff66;
    background-color: rgba(150,255,150,0.5);
    background: linear-gradient(to left, white, rgba(150,255,150,0.5));
}

.list_otrezki div.buh_ok{
    border-left: 3px solid #66ff66;
    background-color: rgba(150,255,150,0.5);
    background: linear-gradient(to left, rgba(150,255,150,0.5), rgb(100,255,100));
}

.minus{
    border-left: 3px solid #ff2222;
    background: linear-gradient(to left, white, #ff9999);
}

.minus.hide{
    border-left: 3px solid #ff9999;
    background: linear-gradient(to left, white, #aa9999);
}

.plus{
    border-left: 3px solid orange;
    background: linear-gradient(to right, white, orange);
}

.plus.hide{
    border-left: 3px solid #ff9999;
    background: linear-gradient(to right, gray, #aa9999);
}

.ocenka_dnya{ float:right; font-weight: normal; }

.hide{ display: none; }

.table_list_sp_job td,
.table_list_sp_job th{
    padding: 0.2em;
    min-width: 120px;
}

.job_man_in_graph{

    display: block;
    padding: 3px 5px;
    margin: 3px 0;

    xbackground-color: #ffd58e;
    text-align: center;
}

.job_man_in_graph.stag{
    background-color: #c8ffc8;
}
.job_man_in_graph.stag:HOVER{
    background-color: #a8ffa8;
}

.job_man_in_graph.norm{
    background-color: #ffd58e;
}
.job_man_in_graph.norm:HOVER{
    background-color: #ff9900;
}

.job_man_in_graph.spec{
    background-color: #99ccff;
}
.job_man_in_graph.spec:HOVER{
    background-color: #33ccff;
}

.job_man_in_graph.job_other{
    background-color: #cccccc;
}
.job_man_in_graph.job_other:HOVER{
    background-color: #b0b0b0;
}

.show_down_hiden .hide_down{ display:none; }
.show_down_hiden:HOVER .hide_down{ display:block; }

.btn3{
    padding: 3px 5px;
    margin:1px;
    background-color: rgba(255,255,255,0.2);
    display:block;
}
.btn3:HOVER{ background-color: rgba(255,255,255,0.7); }
.job_man_in_graph{
}
.list_stat_job_sp .act_personal_def{ display: none; }
x.list_stat_job_sp:HOVER .act_personal_def{ display: block; }

.act_personal_def a{ 
    display:block; 
    background-color: rgba( 0,0,0,0.1 );
    margin: 5px 0;
    padding: 5px 10px;
}
.act_personal_def a:HOVER{ 
    background-color: #ff9900;
}










.list-option-sp{
    display: inline-block;
    border-left: 1px solid gray;
    padding-left: 20px;
}

.add_form_option_job th,
.add_form_option_job td{ border: 1px solid gray; }
.add_form_option_job thead{
    background-color: #bebebe;
}
.add_form_option_job tfoot{
    background-color: #d1ecf1;
    padding: 10px;
}

.add_form_option_job td{
    text-align: center;
}
.add_form_option_job tr td:nth-child(2){
    text-align: right;
}

ul.list_sp li{
    border-left: 4px solid green;
    padding-left: 20px;
}

b.warn{
    background-color: yellow;
    padding: 5px;
    display: inline-block;
}


.point_div{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

/* плюс минус для прибавления часов руками */
.ajax_hour_action{ margin: 0 10px; color: rgba(0,0,0,0.05); transition: 2s; }
.smena1:HOVER .ajax_hour_action{ color: rgba(0,0,0,0.8); }

/* кнопа показа действий по смене */
.but_show_option{ color: rgba(0,0,0,0.05); float:right; transition: 2s; }
.smena1:HOVER .but_show_option{ color: rgba(0,0,0,0.8); }

/* блок для показа часов в смене */
.job_hour{}

/* блок для показа времени входа и выхода */
.job_timer{  }

/* select выбора цены часа */
.select_price_hour_now{ display: inline-block; border: 2px solid rgba(0,0,0,0.1); border-radius: 4px; width: calc(100%-30px); }

/* блок куда печатаем суммы часов и денег за день */
.show_summ_hour_day{ text-align: center; }

/* блок показа 1 коммента в списке смен */
.show_1comment{
    background-color: rgba(0,0,0,0.05);
    padding: 5px;
    max-height: 100px;
    font-size: 0.7rem;
    margin-top: 1px;
    margin-bottom: 3px;
}
/* кнопа удаления */
.show_1comment a{ color: rgba(0,0,0,0.1); }
.show_1comment:HOVER a{ color: rgba(0,0,0,0.6); }



.ocenka_show{ padding: 2px 5px; margin-right: 3px; display: inline-block; }

.ocenka_show.all3,
.ocenka_show.all5{ margin-bottom: 2px; }

.ocenka_show.all3,
.ocenka_show.naruki3,
.ocenka_show.time3,
.ocenka_show.ob3{ background-color: yellow; }
.ocenka_show.all5,
.ocenka_show.naruki5,
.ocenka_show.time5,
.ocenka_show.ob5{ background-color: greenyellow; }

.input-norms{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 90%;
    text-align: center;
}

.list_day_ned label{ 
    display: inline-block;
    margin-right: 3px; 
    background-color: rgba(0,0,0,0.1);
    padding: 3px 5px;
    border-radius: 2px;
}

.list_day_ned label input{
    margin-right: 3px;
}

.info_new_dolgn{ 
    padding: 2px 10px;
    border-radius: 3px;
    margin-top:2px;
}

.info_new_dolgn a{
    display: none;
    float: right;
}

.info_new_dolgn:HOVER a{
    display: inline-block;
}

.pole_oplacheno{
    background-color: #66cc00;
    border-radius: 2px;
    padding: 2px;
    display: block;
    text-align: center;
}







.hide_in_sup sup{ display:none; }
.hover_show_sup:HOVER sup{ display:inline-block; }

.body_block{ position: fixed;    z-index: 9000000;    
             left: 0;    right: 0;    top: 0;    bottom: 0;
             background: repeating-linear-gradient(45deg, rgba(0,0,0,0.05), rgba(0,0,0,0.07) 50px, rgba(0,0,0,0.15) 0, rgba(0,0,0,0.17) 100px);    
             text-align: center;    vertical-align: middle;    
             display: block;    padding-top: 25%;    
             font-size: 3em; }

.timeo_tr input[type=number] {
    display:inline-block;width:50px; padding: 0px; margin: 0 auto; text-align:center;
}

.timeo_td .didrive__edit_items_dop_pole{ max-width: 60px; padding: 1px; }

span.job_hours{ display: inline-block; width:30px; xborder:1px solid green; }


/* табличка что работает на другой точке сегодня */
.on_hover_opacity05green{
    transition: all .5s ease 0s;
    background-color: rgba(0,255,0,0.1); 
    padding: 5px 2px; 
    opacity: 0.3;
}
.on_hover_opacity05green:HOVER{
    opacity: 1;
}

.jobdesc_metka{
    background-color: rgba(0,0,0,0.1);
    padding: 3px 5px;
    border-radius:5px;
}
.jobdesc_metka span{ color: green; }

.number_oborot_tochnee{ width: 75px; text-align: center; }


.smens.ajax_loaded{
    background-color: rgba(0,0,0,0.05);
}

.oborot_all_summ{ color: gray; float:right; }
.oborot_edit_pole{ width:120px; padding: 3px; margin: 0 auto; text-align:center; }
.oborot-gray { color:gray; }